<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shiroRealm" class="com.kaishengit.crm.controller.auth.ShiroRealm">

    </bean>

    <!--cacheManager-->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>

    <!--创建SecurityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroRealm"/>
        <property name="cacheManager" ref="cacheManager"/>

    </bean>

    <!--配置表单鉴别器-->
    <bean id="formAuthenticationFilter" class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter">
        <property name="usernameParam" value="mobile"/>
        <property name="passwordParam" value="password"/>
        <property name="loginUrl" value="/"/>
    </bean>
    <!--配置shiorFilter-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--登录的URL-->
        <property name="loginUrl" value="/"/>
        <!--登录成功的URL-->
        <property name="successUrl" value="/home"/>
        <!--认证失败的URL-->
        <property name="unauthorizedUrl" value="/static/plugins/html/40X.html"/>
        <!--配置securityManager-->
        <property name="securityManager" ref="securityManager"/>
        <!--访问路径和角色的配置关系-->
        <property name="filterChainDefinitions">
            <value>
                /static/** = anon
                /logout = anon
                /favicon.ico = anon
                /** = user
            </value>
        </property>
    </bean>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>